
   <p>Ask your coach anything:</p>

    <div class="mb-3 w-100">
      <form action="/answer" data-turbo="false">
      <input class="form-group" type="text" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary" >
     </form>
    </div>
